* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-size: 100%;
    background: url(./assets/bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
}

::selection {
    color: #fff;
    background-color: brown;
}

.wrapper {
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
}

.wrapper header {
    font-size: 28px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    text-align: center;
}

.wrapper form {
    margin: 40px 0 20px 0;
}

form :where(input, select, button) {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
}

form p {
    font-size: 18px;
    margin-bottom: 5px;
}

.amount input{
    border-bottom: 1px solid #999;
    border-radius: 0;
}

fomr input {
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}

form input:focus {
    padding: 0 14px;
    border: 2px solid brown;
}

form .drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box {
    display: flex;
    width: 115px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #999;
}

.select-box img {
    max-width: 21px;
    margin-right: 2px;
}

.select-box select {
    width: auto;
    font-size: 16px;
    background: none;
    margin: 0 -5px 0 -5px;
}

.select-box select::-webkit-scrollbar {
    width: 8px;
}

.select-box select::-webkit-scrollbar-track {
    background-color: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
}

.drop-list .icon {
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
}

form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 30px;
}

form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: brown;
    transition: 0.3s ease;
}

form button:hover {
    background-color: #e89e08;
}




